@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  display: flex;
  height:100vh;
  width: 100vw;
  flex-direction: column;
}

main {
  flex:2;
}

.montserrat {
  font-family: montserrat,sans-serif;
  font-weight: 600;
  font-style: normal;
}

.itc {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}